{% from 'form_helper.html' import displayField %}

{% extends 'prelogin-layout.html' %}

{% block title %}Login {% endblock %}

{% block contents %}
<h1>Please Login In</h1>
<p>Type Username/Password</p>

<form action="{{ url_for('login') }}" method='POST'>

    {{ displayField(form.username, 'Username', autocomplete='off', autofocus=ture) }}
    {{ displayField(form.password, 'Password')}}
    
    <div>
        {{ form.submit_button }}
    </div>

    {{ form.csrf_token }}
</form>

{% endblock %}